################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide-shm
/.vs/Mailing/v16/Server/sqlite3
